<div>
	<table>
		<tr>
			<td>
				
			</td>
			<td>
				<button (click)="moverHerramientaArriba()">X+</button>
			</td>
			<td>
				
			</td>
		</tr>
		<tr>
			<td>
				<button (click)="moverHerramientaIzquierda()">Z-</button>
			</td>
			<td>
				<button #velocidadBtn (click)="cambiarVelocidad()" [ngClass]="{'velocidadRapida': this.velocidadService.getVelocidad() == this.VELOCIDAD_RAPIDA }"><i>Rapid</i></button>
			</td>
			<td>
				<button (click)="moverHerramientaDerecha()">Z+</button>
			</td>
		</tr>
		<tr>
			<td>
				
			</td>
			<td>
				<button (click)="moverHerramientaAbajo()">X-</button>
			</td>
			<td>
				
			</td>
		</tr>
	</table>
</div>