.contenedor {
	display: inline-block;
	height: 100%;
	width: 99%;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	border-radius: 2px;
}

.ejes {
	height: 92%;
	width: 92%;
	border-left-style: solid;
	border-left-color: rgb(115, 115, 115);
	border-left-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(115, 115, 115);
	border-bottom-width: 1px;
	margin: auto; 
	margin-block-start: 2%;   
	position: relative;
}

.area-simulacion-svg {
	width: 100%;
	height: 100%;
}

.area-simulacion-canvas {
	position: absolute;
    top: 0px;
	z-index: -10;
}

.herramienta {
	transition-timing-function: linear;
}