<div>
	<table>
		<tr>
			<td class="coordenada-posicion-contenedor">
				<span class="coordenada-posicion">
					X
				</span>
			</td>
			<td class="valor-posicion-contenedor">
				{{posicionHerramientaService.getX().toFixed(1)}}
			</td>
		</tr>
		<tr><td colspan="2" class="espacio-entre-filas">&nbsp;</td></tr>
		<tr>
			<td class="coordenada-posicion-contenedor">
				<span class="coordenada-posicion">
					Z
				</span>
			</td>
			<td class="valor-posicion-contenedor">
				{{posicionHerramientaService.getZ().toFixed(1)}}
			</td>
		</tr>
	</table>
</div>