<div>
	<table>
		<tr>
			<td>
				<button (click)="abrirAreaProgramar()"><i>Programar</i></button>
				<app-menu-programar *ngIf="visibleAreaProgramar" (close)="cerrarAreaProgramar()"></app-menu-programar>
			</td>
			<td>
				<button><i>Herramientas</i></button>
			</td>
			<td>
				<button (click)="abrirAreaDecalajeOrigen()"><i>Decalaje Origen</i></button>
				<app-menu-decalaje-origen *ngIf="visibleAreaDecalajeOrigen" (close)="cerrarAreaDecalajeOrigen()"></app-menu-decalaje-origen>
			</td>
			<td>
				<button><i>Parámetros R</i></button>
			</td>
		</tr>
	</table>
</div>
	